// ##################
// Bootstrap stuff
// ##################

// icon fonts
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$octicons-font-path: "../fonts/" !default;

// ##################
// COLORS
// ##################

// MAIN LAYOUT COLORS
$hubLinks:          #4078C0;
$hubTabActive:      #C9510C;
$hubGray:           #F5F5F5;
$hubText:           #767676;
$hubTextDark:       #333333;
$hubBorder:         #767676;
$hubBorderLight:    lighten($hubBorder, 35%);
$hubButton:         #F6F6F6;
$hubActionButton:   #5CA941;

// LANGUAGE COLOR INDICATORS
$hubLangJS:         #F1E05A;
$hubLangHTML:       #E44B22;
$hubLangCSS:        #563D7C;
$hubLangShell:      #89E052;
